<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed's Uploader</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/hclaberror.js"></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Error Handler</h1>

    <div
      style="
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        padding-top: 2px;
        padding-bottom: 2px;
      "
    >
      <h2>ONO Searched: <%= ono %></h2>
    </div>

    <input type="hidden" id="ono" value="<%= ono %>" />

    <% data.forEach(error => { %>
    <input type="hidden" id="ono" value="<%= ono %>" />
    <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc">
      <p><strong>Error message:</strong> <%= error.error_msg %></p>
      <pre id="editableText" style="text-align: left" contenteditable="true">
<%= error.error_file %></pre
      >
      <button onclick="saveChanges()">Save</button>
    </div>
    <% }) %>
  </body>
</html>
