<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Mappings</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/test-mappings.js"></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Test Mappings</h1>
    <div class="ono-tracer">
      <a href="/view/tmaddform">Add new</a>
      <label for="searchInput">Search HIS/LIS Code:</label>
      <input
        type="text"
        id="searchInput"
        placeholder="e.g: HCT"
        oninput="filterTableHIS()"
      />

      <table class="ono-tracer-table" border="1">
        <thead>
          <tr>
            <th>id</th>
            <th>Ono</th>
            <th>Name</th>
            <th>PID</th>
            <th>Order Control</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <% data.forEach((item) => { %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.ono %></td>
            <td><%= item.name %></td>
            <td><%= item.pid %></td>
            <td><%= item.order_control %></td>
            <td>Status</td>
            <td>
              <button
                onclick="editButtonHandler(event, '<%=item.his_code%>', '<%= item.lis_code%>' )"
              >
                Details
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
