<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Mappings</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/test-mappings.js"></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Test Mappings</h1>
    <div class="test-mappings">
      <a href="/view/tmaddform">Add new</a>
      <label for="searchInput">Search HIS/LIS Code:</label>
      <input
        type="text"
        id="searchInput"
        placeholder="e.g: HCT"
        oninput="filterTableHIS()"
      />

      <div class="table-container">
        <table border="1">
          <thead>
            <tr>
              <th>HIS_Code</th>
              <th>LIS_Code</th>
              <th>Updated By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <% data.forEach((item) => { %>
            <tr>
              <td><%= item.his_code %></td>
              <td><%= item.lis_code %></td>
              <td><%= item.updated_by %></td>
              <td>
                <button
                  onclick="editButtonHandler(event, '<%=item.his_code%>', '<%= item.lis_code%>' )"
                >
                  Edit
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
